<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="ja-visitei-brasil-nuget" value="https://javisitei-domain-274048069582.d.codeartifact.us-east-1.amazonaws.com/nuget/javisitei-repo/v3/index.json" />
  </packageSources>
  <disablePackageSources>
	<add key="Microsoft and .NET" value="true" />
  </disablePackageSources>
  <packageSourceCredentials>
    <ja-visitei-brasil-nuget>
      <add key="Username" value="USERNAME" />      
      <add key="ClearTextPassword" value="TOKEN" />
    </ja-visitei-brasil-nuget>
  </packageSourceCredentials>
</configuration>