<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disablePackageSources>
	<add key="Microsoft and .NET" value="true" />
  </disablePackageSources>
  <packageSourceCredentials>
    <ja-visitei-brasil-nuget>
      <add key="Username" value="USERNAME" />      
      <add key="ClearTextPassword" value="TOKEN" />
    </ja-visitei-brasil-nuget>
  </packageSourceCredentials>
</configuration>