<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="ja-visitei-brasil-nuget" value="%AWS_NUGET%" />
  </packageSources>
  <disablePackageSources>
	<add key="Microsoft and .NET" value="true" />
  </disablePackageSources>
  <packageSourceCredentials>
    <ja-visitei-brasil-nuget>
      <add key="Username" value="%GIT_USERNAME%" />      
      <add key="ClearTextPassword" value="%GIT_TOKEN%" />
    </ja-visitei-brasil-nuget>
  </packageSourceCredentials>
</configuration>